<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.hqb.pets.dao.mapper.benefit.TBenefitMapper">
	<resultMap id="tOrderItemResultMap" type="tOrderItem">
		<result column="item_id" property="itemId" jdbcType="BIGINT"/>
		<result column="count" property="count" jdbcType="BIGINT"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
		<result column="sub_total" property="subTotal" jdbcType="DECIMAL"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="image" property="image" jdbcType="VARCHAR"/>
	</resultMap>

  	<select id="getBenefit" parameterType="tBenefitVo" resultType="string">
		select
			sum(payment) as payment
		from t_order
		<where>
			<if test="timeType != null and timeType == '1'.toString()">
				created > DATE_SUB(CURDATE(), INTERVAL 1 WEEK)	
			</if>
			<if test="timeType != null and timeType == '2'.toString()">
				created > DATE_SUB(CURDATE(), INTERVAL 1 MONTH)	
			</if>
			<if test="timeType != null and timeType == '3'.toString()">
				created > DATE_SUB(CURDATE(), INTERVAL 3 MONTH)	
			</if>
			<if test="paymentType != null and paymentType == '0'.toString()">
			</if>
			<if test="paymentType != null and paymentType == '1'.toString()">
				and payment_type = 1
			</if>
			<if test="paymentType != null and paymentType == '2'.toString()">
				and payment_type = 2
			</if>
			AND (
				STATUS = 2
				OR STATUS = 3
				OR STATUS = 4
				OR STATUS = 5
				OR STATUS = 6
			)
		</where>
	</select>
	
	<select id="getDetailCount" parameterType="tBenefitItemVo" resultType="Integer">
		select
			COUNT(distinct item_id)
		from t_order_item
		<where>
			<if test="itemId != null">
				item_id = #{itemId, jdbcType = BIGINT}
			</if>
			and order_id IN(
				select
					order_id
				from t_order
				where
				<if test="timeType != null and timeType == '1'.toString()">
					created > DATE_SUB(CURDATE(), INTERVAL 1 WEEK)	
				</if>
				<if test="timeType != null and timeType == '2'.toString()">
					created > DATE_SUB(CURDATE(), INTERVAL 1 MONTH)	
				</if>
				<if test="timeType != null and timeType == '3'.toString()">
					created > DATE_SUB(CURDATE(), INTERVAL 3 MONTH)	
				</if>
				<if test="paymentType != null and paymentType == '0'.toString()">
				</if>
				<if test="paymentType != null and paymentType == '1'.toString()">
					and payment_type = 1
				</if>
				<if test="paymentType != null and paymentType == '2'.toString()">
					and payment_type = 2
				</if>
				AND (
					STATUS = 2
					OR STATUS = 3
					OR STATUS = 4
					OR STATUS = 5
					OR STATUS = 6
				)
			)
		</where>
	</select>
	
	<select id="getDetailBenefit" parameterType="tBenefitItemVo" resultMap="tOrderItemResultMap">
		select
			item_id,
			title,
			image,
			sum(count) as count,
			price,
			sum(sub_total) as sub_total
		from t_order_item
		<where>
			<if test="itemId != null">
				item_id = #{itemId, jdbcType = BIGINT}
			</if>
			and order_id IN(
				select
					order_id
				from t_order
				where
				<if test="timeType != null and timeType == '1'.toString()">
					created > DATE_SUB(CURDATE(), INTERVAL 1 WEEK)	
				</if>
				<if test="timeType != null and timeType == '2'.toString()">
					created > DATE_SUB(CURDATE(), INTERVAL 1 MONTH)	
				</if>
				<if test="timeType != null and timeType == '3'.toString()">
					created > DATE_SUB(CURDATE(), INTERVAL 3 MONTH)	
				</if>
				<if test="paymentType != null and paymentType == '0'.toString()">
				</if>
				<if test="paymentType != null and paymentType == '1'.toString()">
					and payment_type = 1
				</if>
				<if test="paymentType != null and paymentType == '2'.toString()">
					and payment_type = 2
				</if>
				AND (
					STATUS = 2
					OR STATUS = 3
					OR STATUS = 4
					OR STATUS = 5
					OR STATUS = 6
				)
			)
		</where>
		GROUP BY
			item_id
		ORDER BY  
			sub_total DESC
	</select>
	 
</mapper>